page-home {
    .container {
        background: url('../../assets/imgs/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
        border: 0 !important;
    }
}
