<ion-header>
  <ion-navbar color=primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="container">
  <div text-center color=warning [hidden]="info">
    <ion-spinner></ion-spinner>
  </div>
  <div class="content bg-trans" *ngIf="info">
  <ion-grid>
    <ion-row>
      <ion-col col-md-3>
        <div class="info">
          <ion-label class="info-head">Platform</ion-label>
          <p>{{info.platform | uppercase}}</p>
        </div>
        <div class="info">
          <ion-label class="info-head">Uptime</ion-label>
          <p>{{info.uptime}}</p>
        </div>
        <div class="info">
          <ion-label class="info-head">Cpu-Usage</ion-label>
          <p>USER: {{toFixed((info.cpuusage.user)/1024)}}MB</p>
          <p>SYSTEM: {{toFixed((info.cpuusage.system)/1024)}}MB</p>
        </div>
      </ion-col>
      <ion-col col-md-3 text-right>
        <div class="info">
          <ion-label class="info-head">uid</ion-label>
          <p>{{info.uid}}</p>
        </div>
        <div class="info">
          <ion-label class="info-head">Memory</ion-label>
          <p>TOTAL: {{toFixed((info.memory.total)/1024)}}GB</p>
          <p>FREE: {{toFixed((info.memory.free)/1024)}}GB</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  <ion-card *ngIf="info" class="bg-trans">
    <ion-item no-lines class="bg-trans" (tap)="getActiveWindows()">
      <ion-icon name="albums" item-start color=light></ion-icon>
      <ion-label color=light>Active Windows</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
