page-home {

    .content {
        min-width: 200px;
        border-radius: 2px;
    }

    .bg-trans {
        background: rgba(0, 0, 0, 0.2);
    }

    .info-head {
        color: color($colors, primary);
        text-decoration: underline;
        text-transform: uppercase;
    }

    .info {
        color: white;
        padding: 2px;
        font-weight: bold;
    }

    .container {
        background: url('../../assets/imgs/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
        border: 0 !important;
    }
}
