<ion-header>

  <ion-navbar color=primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="container">
  <div text-center [hidden]="directory">
    <ion-spinner></ion-spinner>
  </div>
  
  <div class="content bg-trans" *ngIf="directory">
    <div *ngFor="let path of directory" text-center>
      <div *ngIf="path.type == 'folder'" class="dir" (tap)="openPath(path.type, path.fullpath)">
        <ion-icon name="folder" color=primary class="dir-icon"></ion-icon>
        <p class="dir-name">{{path.name}}</p>
      </div>
    </div>
    <div *ngFor="let path of directory" text-center>
      <div  *ngIf="path.type == 'file'" class="dir" (tap)="openPath(path.type, path.fullpath)">
        <ion-icon name="photos" color=primary class="dir-icon"></ion-icon>
        <p class="dir-name">{{path.name}}</p>
      </div>
    </div>
  </div>
</ion-content>
