page-folder {
    .content {
        min-width: 200px;
        border-radius: 2px;
    }

    .bg-trans {
        background: rgba(0, 0, 0, 0.2);
    }

    .dir {
        width: 4.8em;
        max-height: 4.9em;
        float: left;
        overflow: hidden;
        padding: 5px;
        cursor: pointer;
    }

    .dir:hover {
        background: rgba(0, 0, 0, 0.4);
    }

    .dir-name {
        color: white;
        font-size: 0.8em;
        margin-top: -5px;
    }

    .dir-icon {
        font-size: 3em;
    }

    .container {
        background: url('../../assets/imgs/background1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
        border: 0 !important;
    }
}
